<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign-in&sign-up.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-left">
            <h2>Welcome to InvenPOS</h2>
            <h3>Please Login to continue</h3>
            <img src="{% static 'images/vector1.png' %}" alt="">
        </div>
    {% block content %} {% endblock %}
    </div>
</body>
</html>